<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="logoHeader">
    <img src="assets/imgs/logo.png">
  </div>
  <h3>Mission</h3>
  <p>SAAIS TO PROMOTES EXCELLENCE IN KNOWLEDGE, RESEARCH AND HIGHEST STANDARDS OF PRACTICE IN ALLERGY,ASHTMA AND IMMUNOLOGY AMONG HEALTHCARE PROVIDERS AND PATIENTS. THIS IS ESTABLISHED THROUGH NATIONAL AND INTERNATIONAL COLLABORATION.</p>

  <h3>Vision</h3>
  <p>SAAIS IS THE PRIMARY SOURCE FOR KNOWLEDGE AND OPTIMAL PRACTICE IN ALLERGY,ASTHMA AND IMMUNOLOGY FOR HEALTHCARE PROVIDERS AND PATIENTS IN THE REGION.</p>

  <h3 text-center>Members</h3>

  <ion-row>
    <ion-col text-center col-6 *ngFor="let prof of profs">
      <div class="contain">
        <img src="assets/imgs/{{prof.img}}.jpg"><br>
        <strong>{{prof.name}}</strong>
        <p ion-text color="secondary">{{prof.spec}}</p>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
