page-about {
    .logoHeader{
        text-align: center;
        padding-top: 20px;
        img{
            width:200px;
        }
    }
    .contain{
        border:1px solid grey;
        padding:10px;
        border-radius: 5px;
        background:#fff;
        min-height: 150px;
        h5{
            font-size: 1.4rem;
        }
    }
}
