page-login {
  .full {
    width: 100%;
    max-width: 100%;
    text-indent: 5px;
    padding: 5px;
    border: 1px solid color($colors, primary);
    margin-bottom: 10px;
  }
  .form {
    label {
      vertical-align: super !important;
    }
  }
  .social{
      ion-icon{
          margin-right: 10px;
      }
  }
}
