<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="logoHeader">
        <img src="assets/imgs/logo.png">
      </div>
  <h3 text-center ion-text color="primary">Welcome back</h3>
  <div class="form">
    <input class="full" placeholder="User Name">
    <input class="full" placeholder="Password">
    <ion-row>
      <ion-col text-left>
        <ion-checkbox></ion-checkbox>
        <label class="smFont">Stay connected</label>
        <!-- 
        <ion-checkbox></ion-checkbox> -->
        <!-- <label>Stay connected <input type="checkbox"></label> -->
      </ion-col>
      <ion-col class="smFont" text-right>
        Forgot Password ?
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="login()" color="primary">Login</button>
      </ion-col>
      <ion-col>
        <button ion-button block color="primary" (click)="register()">Register</button>
      </ion-col>
    </ion-row>
    <div padding class="social">
      <button (click)="login()" ion-button block color="facebook"><ion-icon name="logo-facebook"></ion-icon>Facebook Login</button>
      <button (click)="login()" ion-button block color="google"><ion-icon name="logo-googleplus"></ion-icon>Google Login</button>
    </div>

  </div>
</ion-content>
