page-donation {
    .logoHeader{
        text-align: center;
        padding-top: 20px;
        img{
            width:200px;
        }
    }
    .donBtn{
        img{
            width:200px;
        }
        
    }
}
