<!--
  Generated template for the DonationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        
    <ion-title>Donation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="logoHeader">
    <img src="assets/imgs/logo.png">
  </div>
  <h4 text-center>THE IBAN NUMBER AT AL RAJHI BANK</h4>
  <br>
  <h6 text-center ion-text color="secondary">"SA980878797809"</h6>
  <div class="donBtn" padding text-center>
    <img src="assets/imgs/donateBtn.png">
  </div>
</ion-content>
