<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Member area</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col  col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/icon-about.png">
        <h5>Literature Reals</h5>
      </div>
    </ion-col>
    <ion-col col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/icon-members.png">
        <h5>Members Directory</h5>
      </div>
    </ion-col>
    <ion-col  col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/icon-guidelines.png">
        <h5>Guidelines</h5>
      </div>
    </ion-col>
    <ion-col  col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/icon-useful.png">
        <h5>Useful Links</h5>
      </div>
    </ion-col>
    <ion-col col-3></ion-col>
    <ion-col  col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/icon-research.png">
        <h5>Research Grants</h5>
      </div>
    </ion-col>
    
    
  </ion-row>
</ion-content>
