page-memberarea {
  ion-row {
    img {
      width: 50px;
      height: auto;
    }
    .contain {
      border: 1px solid grey;
      padding: 10px;
      border-radius: 5px;
      background: #fff;
      min-height: 150px;
      padding-top: 25px;
      h5 {
        font-size: 1.4rem;
      }
    }
  }
}
