page-register {
  .uploadPic {
    z-index: 3;
    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
    }
    ion-icon{
        font-size: 26px;
        position: relative;
        right: 20px;
        bottom: 50px;
    }
  }
  .full {
    width: 100%;
    max-width: 100%;
    text-indent: 5px;
    padding: 5px;
    border: 1px solid color($colors, primary);
    margin-bottom: 10px;
  }
  ion-item{
    padding-left: 0 !important;
  }
  .item-inner{
    border-bottom: unset !important;
  }
  .item-cover{
    padding-right: 0 !important;
  }
  .select-ios{
    border-radius: 5px;
  }
}
