<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="uploadPic" padding text-center>
    <img (click)="updatePic()" *ngIf="!base64Image" src="assets/imgs/upload.png">
    <img (click)="updatePic()" *ngIf="base64Image" src="{{base64Image}}">
    <ion-icon (click)="updatePic()" ion-text color="primary" name="add-circle"></ion-icon>
  </div>
  <h3 text-center ion-text color="primary">BECOME A
    <span ion-text color="secondary">SAAIS</span> MEMBER</h3>
  <div class="form">
    <ion-list>
      <input class="full" placeholder="User Name">
      <input class="full" placeholder="Password">
      <input class="full" placeholder="Email">

      <ion-item>
        <ion-select class="full" interface="action-sheet">
          <ion-option selected>Male</ion-option>
          <ion-option>Female</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button block color="primary">Register</button>
    </ion-list>
  </div>
</ion-content>
