page-specialistprofile {
.avatar{
    img{
        border-radius:50%;
        width:80px;
        border:1px solid color($colors,primary);
    }
}
ion-grid{
    ion-row{
        ion-col{
            border:1px solid darkgrey;
            p{
                font-size: 12px;
            }
        }
    }
}
}
