<!--
  Generated template for the SpecialistprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Dr.Abdullah Alangari</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="avatar" padding text-center>
    <img src="assets/imgs/prof1.jpg">
    <br>
    <p ion-text color="primary">Dr.Abdullah Alangari</p>

  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <p ion-text color="primary">Education</p>
      </ion-col>
      <ion-col col-8>
        <p ion-text color="grey">Boston Children's Hospital, USA</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p ion-text color="primary">Position</p>
      </ion-col>
      <ion-col col-8>
        <p ion-text color="grey">Professor and Consultant Allergist and Immunologist</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p ion-text color="primary">Current work address</p>
      </ion-col>
      <ion-col col-8>
        <p ion-text color="grey">King Saud University, College of medicine, and King Khalid University Hospital,Riyadh</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p ion-text color="primary">Contact</p>
      </ion-col>
      <ion-col col-8>
        <p ion-text color="grey">aangari@ksu.edu.sa</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
