page-profile {
    .uploadPic {
        img {
          border-radius: 50%;
          width: 80px;
          height: 80px;
          border:1px solid color($colors,grey);
        }
        ion-icon{
            font-size: 26px;
            position: relative;
            right: 20px;
            bottom: 50px;
            z-index: 2;
            
        }
      }
      ion-list{
          ion-item{
            background:transparent !important;
          }
          
      }
}
