<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="uploadPic"  padding text-center>
    <img (click)="updatePic()" *ngIf="!myPic" src="assets/imgs/prof1.jpg">
    <img (click)="updatePic()" *ngIf="myPic" src="{{myPic}}">
    <ion-icon (click)="updatePic()" ion-text color="primary" name="add-circle"></ion-icon>
  </div>
  <ion-list>
    <ion-item>
      <ion-label stacked ion-text color="grey">FULL NAME</ion-label>
      <ion-input value="Dr.Abdullah Alangari"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked ion-text color="grey"> EMAIL</ion-label>
      <ion-input value="aangari@ksu.edu.sa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked ion-text color="grey"> PASSWORD</ion-label>
      <ion-input type="password" value="000000"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked ion-text color="grey">GENDER</ion-label>
      <ion-select interface="action-sheet">
        <ion-option selected>Male</ion-option>
        <ion-option>Female</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked ion-text color="grey">NOTIFICATIONS</ion-label>
      <ion-toggle checked color="secondary"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
