<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Find a Specialist</ion-title>
    <ion-buttons end>
      <button (click)="goSearch()" ion-button class="searchIcon">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="findSpec" color="grey">
    <ion-segment-button value="bySpec">
      <i class="fas fa-stethoscope"></i>
      <p class="smFont">By Specialisations</p>
    </ion-segment-button>
    <ion-segment-button value="byName">
      <i class="fas fa-user-md"></i>
      <p class="smFont">By Doctors Name</p>
    </ion-segment-button>
    <ion-segment-button value="byCity">
      <i class="fas fa-map-marker"></i>
      <p class="smFont">By City</p>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="findSpec">
    <ion-list *ngSwitchCase="'bySpec'">
      <ion-item (click)="viewSpec()" class="doctorItem" *ngFor="let x of [0,1,2,3]">
        <ion-thumbnail item-start>
          <img src="assets/imgs/prof1.jpg">
        </ion-thumbnail>
        <h2 ion-text color="primary">Dr.Abdullah Al Angari</h2>
        <p>
          <span ion-text color="primary">Education:</span> Boston Children Hospital USA</p>
        <p>
          <span ion-text color="primary">Position:</span>Professor and consultant Allergist and immunologist</p>
        <p>
          <span ion-text color="primary">Current work address:</span> King Saud University,College of Medicine and King Khalid University Hospital,Riyadh</p>
        <p>
          <span ion-text color="primary">Contact:</span> aangari@ksu:edu.sa</p>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'byName'">
      <ion-item (click)="viewSpec()" class="doctorItem" *ngFor="let x of [0,1]">
        <ion-thumbnail item-start>
          <img src="assets/imgs/prof1.jpg">
        </ion-thumbnail>
        <h2 ion-text color="primary">Dr.Abdullah Al Angari</h2>
        <p>
          <span ion-text color="primary">Education:</span> Boston Children Hospital USA</p>
        <p>
          <span ion-text color="primary">Position:</span>Professor and consultant Allergist and immunologist</p>
        <p>
          <span ion-text color="primary">Current work address:</span> King Saud University,College of Medicine and King Khalid University Hospital,Riyadh</p>
        <p>
          <span ion-text color="primary">Contact:</span> aangari@ksu:edu.sa</p>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'byCity'">
      <ion-item (click)="viewSpec()" class="doctorItem" *ngFor="let x of [0,1,2,3,4,5]">
        <ion-thumbnail item-start>
          <img src="assets/imgs/prof1.jpg">
        </ion-thumbnail>
        <h2 ion-text color="primary">Dr.Abdullah Al Angari</h2>
        <p>
          <span ion-text color="primary">Education:</span> Boston Children Hospital USA</p>
        <p>
          <span ion-text color="primary">Position:</span>Professor and consultant Allergist and immunologist</p>
        <p>
          <span ion-text color="primary">Current work address:</span> King Saud University,College of Medicine and King Khalid University Hospital,Riyadh</p>
        <p>
          <span ion-text color="primary">Contact:</span> aangari@ksu:edu.sa</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
