page-findspecialist {
  .searchIcon {
    float: right;
  }
  ion-segment-button {
    height: 80px !important;
    line-height: initial !important;
    .svg-inline--fa {
        margin-top:10px;
      font-size: 24px;
    }
  }
  .doctorItem{
      img{
          border-radius: 50%;
          border:2px solid color($colors,primary);
      }
      p{
        text-overflow: initial;
      white-space:normal;
      overflow: initial;
      font-size: 12px;
      }
      
  }
}
