<!--
  Generated template for the MysplashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding text-center>
  <div class="logoContainer">
    <img class="logo" src="assets/imgs/logo.png">
  </div>

</ion-content>
