<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        
    <ion-title>Contact us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div padding>
  <h3 text-center ion-text color="primary">Get in Touch!</h3>
</div>
<div class="form">
  <input class="full" placeholder="Name">
  <input class="full" placeholder="Phone">
  <input class="full" placeholder="Email">
  <textarea class="full" rows="4" placeholder="Message"></textarea>
  <button ion-button block color="primary">Send</button>
</div>

<div padding>
    <h3 text-center ion-text color="primary">Our Location</h3>
</div>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7419.05270363067!2d39.24455!3d21.604404!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3d406e508d78d%3A0xde22b3029f49d0ba!2s4433+Al+Manar%2C+Al+Manar+District%2C+Jeddah+23462%C2%A08411%2C+Saudi+Arabia!5e0!3m2!1sen!2sus!4v1502179500410"
      width="100%" height="250" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>
</ion-content>
