<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col (click)="goFind()" col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/icon-spec.png">
        <h5>Find A Specialist</h5>
      </div>
    </ion-col>
    <ion-col (click)="goEdu()" col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/icon-edu.png">
        <h5>Educational Materials</h5>
      </div>
    </ion-col>
    <ion-col (click)="goAbout()" col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/icon-about.png">
        <h5>About Us</h5>
      </div>
    </ion-col>
    <ion-col (click)="goNews()" col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/icon-news.png">
        <h5>Society News</h5>
      </div>
    </ion-col>
    <ion-col (click)="goContact()" col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/icon-contact.png">
        <h5>Contact Us</h5>
      </div>
    </ion-col>
    <ion-col (click)="goDonation()" col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/icon-donate.png">
        <h5>Make A Donation</h5>
      </div>
    </ion-col>
    <ion-col col-3></ion-col>
    <ion-col (click)="goLogin()" col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/icon-login.png">
        <h5>Login</h5>
      </div>
    </ion-col>
    
  </ion-row>
</ion-content>
