// http://ionicframework.com/docs/theming/
ion-menu{
    .info{
        padding-top:40px !important;
        p{
            font-weight: lighter;
        }
    }
    .scroll-content{
        background: color($colors,primary);
    }
    ion-list{
        svg{
            margin-right: 10px;
        }
        button{
            color:white !important;
            background:color($colors,primary) !important;
        }
    }
    
    
}
.smFont{
    font-size: 10px;
}
ion-content{
    background:url('../assets/imgs/bg.jpg') top center;
    background-size: cover;
}
.logoHeader{
    text-align: center;
    padding-top: 20px;
    img{
        width:200px;
    }
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
