<ion-menu [content]="content">

  <ion-content padding>
    <div class="info" padding>
      <h2 ion-text color="light">Dr.Abdullah Alangari</h2>
      <p ion-text color="light">aangari@ksu.edu.sa</p>
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <i class="{{p.icon}}"></i> {{p.title}}
      </button>
      <button menuClose ion-item (click)="signOut()">
        <i class="fas fa-sign-out-alt"></i> Sign Out
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
