page-news {
    .article{
        p{
            white-space: initial;
            font-size: 12px;
        }
        img{
            border:1px solid color($colors,primary);
            
        }
    
    }
}
