<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Society News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <div >
        <ion-segment color="grey" [(ngModel)]="news">
          <ion-segment-button value="last">
            Last News
          </ion-segment-button>
          <ion-segment-button value="most">
            Most Viewed
          </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="news">
      <ion-list *ngSwitchCase="'last'">
          <ion-item (click)="viewArticle()" class="article" *ngFor="let x of [0,1]">
              <ion-thumbnail item-start>
                <img src="assets/imgs/article.jpg">
              </ion-thumbnail>
              <h2 ion-text color="primary">IPIC 2017</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'most'">
          <ion-item (click)="viewArticle()" class="article" *ngFor="let x of [0,1,2,3]">
              <ion-thumbnail item-start>
                <img src="assets/imgs/article.jpg">
              </ion-thumbnail>
              <h2 ion-text color="primary">IPIC 2017</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </ion-item>
      </ion-list>
    </div>
</ion-content>
