page-search {
    .logoHeader{
        padding-top: 50px !important;
    }
    .greenSection{
        background:color($colors,secondary);
        ion-select{
            max-width: 100%;
            background:#fff;
            margin-bottom:10px;
        }
        ion-input{
            background: #fff;
            text-indent: 15px;
            margin-bottom:10px;
        }
    }
}
