<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        
    <ion-title>Search for Specialist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div padding class="logoHeader">
    <img src="assets/imgs/logo.png">
  </div>
  <div class="greenSection" padding>
    <h3 text-center ion-text color="light">Find A Specialist</h3>
    <ion-input placeholder="By Name..."></ion-input>
    <ion-select>
      <ion-option selected>By City</ion-option>
    </ion-select>
    <button ion-button block md-button color="light" (click)="showResults()">SEARCH</button>
  </div>
</ion-content>
