<!--
  Generated template for the EducationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        
    <ion-title>Education Materials</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/edu1.jpg">
        <h5>Title</h5>
        <button ion-button small color="primary">Download <i class="far fa-file-pdf"></i></button>
      </div>
    </ion-col>
    <ion-col col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/edu2.jpg">
        <h5>Title</h5>
        <button ion-button small color="primary">Download <i class="far fa-file-pdf"></i></button>
      </div>
    </ion-col>
    <ion-col col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/edu3.jpg">
        <h5>Title</h5>
        <button ion-button small color="primary">Download <i class="far fa-file-pdf"></i></button>
      </div>
    </ion-col>
    <ion-col col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/edu4.jpg">
        <h5>Title</h5>
        <button ion-button small color="primary">Download <i class="far fa-file-pdf"></i></button>
      </div>
    </ion-col>
    <ion-col col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/edu5.jpg">
        <h5>Title</h5>
        <button ion-button small color="primary">Download <i class="far fa-file-pdf"></i></button>
      </div>
    </ion-col>
    <ion-col col-6 text-center>
      <div class="contain">
        <img src="assets/imgs/edu6.jpg">
        <h5>Title</h5>
        <button ion-button small color="primary">Download <i class="far fa-file-pdf"></i></button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
