page-education {
  ion-row {
    .contain {
      border: 1px solid grey;
      border-radius: 5px;
      background: #fff;
      min-height: 150px;
      h5 {
        font-size: 1.4rem;
      }
      button{
          svg{
              margin-left:3px;
          }
      }
    }
  }
}
